*
!/include/
!/include/parser
!/include/**/*.h
!/include/**/*.cpp

!/src/
!/src/parser/
!/src/**/*.h
!/src/**/*.cpp

!/standalone/
!/standalone/*.cpp

!/test/
!/test/parser/
!/test/**/*.h
!/test/**/*.cpp

!/docs/
!/docs/CMakeLists
!/docs/mainpage.md

!/**/CMakeLists.txt

!/README.md
!/LICENSE
!/.gitignore